<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="content">
    <div class="container">
      <p class="text">
        on:
      </p>
      <ul class="list">
        <li class="item"><%= platform %></li>  <!-- linux, windows, darwin (osx) etc-->
        <li class="item"><%= bit %></li>       <!-- Bit depth : 32 or 64 bit -->
        <li class="item"><%= runtime %></li>   <!-- Version of the node.js runtime -->
        <li class="item">🐄 </li>    <!-- Endianness of the machine, -->
      </ul>
      
    </div>
  </div>
  <h1>v1</h1>
</body>

</html>